<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Inicio (Equipo)</a></li>
                <li><a href="{{ url_for('educational') }}">Educación</a></li>
                <li><a href="{{ url_for('qa') }}">Preguntas e Respostass</a></li>
                <li><a href="{{ url_for('dictionary') }}">Diccionario</a></li>
            </ul>
        </nav>
        <h1>{% block page_title %}{% endblock %}</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mi Equipo. Todos los derechos reservados.</p>
    </footer>
</body>
</html>